<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>
    <h1>Here is user list</h1>
    <ul>
        {% if users %}
            {% for user in users %}
                <li>{{ user.first_name }} {{ user.last_name }} ---- {{ user.email }} </li>
            {% endfor %}
        {% else %}
        <p>No user found!</p>
        {% endif %}
    </ul>
</body>
</html>